/* line 1, D:/ProjectRepo/Fun/Yosh Timer/res/css/stylesheet.scss */
body {
  font-family: Open Sans Semibold;
  margin: 0px;
  background-color: #FFC125;
  text-align: center; }

/* line 9, D:/ProjectRepo/Fun/Yosh Timer/res/css/stylesheet.scss */
.button {
  display: inline-block;
  padding: 8px 20px;
  margin: 5px;
  border-radius: 5px;
  font-size: 13px;
  color: white;
  background-color: #FD3231;
  cursor: pointer; }
  /* line 22, D:/ProjectRepo/Fun/Yosh Timer/res/css/stylesheet.scss */
  .button:hover {
    background-color: #ff5150; }
  /* line 26, D:/ProjectRepo/Fun/Yosh Timer/res/css/stylesheet.scss */
  .button:active {
    background-color: #e01f1e; }

/* line 31, D:/ProjectRepo/Fun/Yosh Timer/res/css/stylesheet.scss */
.screen {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px; }

/* line 44, D:/ProjectRepo/Fun/Yosh Timer/res/css/stylesheet.scss */
.container {
  position: absolute;
  display: block;
  margin: 0px;
  width: 100%;
  top: 47%;
  transform: translateY(-50%); }

/* line 54, D:/ProjectRepo/Fun/Yosh Timer/res/css/stylesheet.scss */
.draggable, #background {
  -webkit-app-region: drag; }

/* line 58, D:/ProjectRepo/Fun/Yosh Timer/res/css/stylesheet.scss */
.non.draggable, .button, #input-time #time-input input, .non#background, #close-button {
  -webkit-app-region: no-drag; }

/* line 63, D:/ProjectRepo/Fun/Yosh Timer/res/css/stylesheet.scss */
#input-time #time-input {
  margin: 10px;
  margin-top: 20px;
  display: block;
  font-size: 15px;
  font-family: Open Sans;
  font-weight: bold; }
  /* line 71, D:/ProjectRepo/Fun/Yosh Timer/res/css/stylesheet.scss */
  #input-time #time-input input {
    line-height: normal;
    padding: 5px;
    width: 60px;
    height: 70px;
    font-family: Roboto Webfont;
    font-size: 55px;
    text-align: center;
    color: white;
    background-color: transparent;
    border: none;
    border: 0px; }
  /* line 90, D:/ProjectRepo/Fun/Yosh Timer/res/css/stylesheet.scss */
  #input-time #time-input input[type="text"], #input-time #time-input input[type="password"] {
    outline: none; }
  /* line 94, D:/ProjectRepo/Fun/Yosh Timer/res/css/stylesheet.scss */
  #input-time #time-input ::-webkit-input-placeholder {
    color: white; }
  /* line 98, D:/ProjectRepo/Fun/Yosh Timer/res/css/stylesheet.scss */
  #input-time #time-input :-moz-placeholder {
    color: white; }
  /* line 102, D:/ProjectRepo/Fun/Yosh Timer/res/css/stylesheet.scss */
  #input-time #time-input ::-moz-placeholder {
    color: white; }
  /* line 106, D:/ProjectRepo/Fun/Yosh Timer/res/css/stylesheet.scss */
  #input-time #time-input :-ms-input-placeholder {
    color: white; }

/* line 113, D:/ProjectRepo/Fun/Yosh Timer/res/css/stylesheet.scss */
#timerun #timer {
  margin: 16px;
  margin-top: 24px;
  display: block;
  font-size: 15px; }
  /* line 119, D:/ProjectRepo/Fun/Yosh Timer/res/css/stylesheet.scss */
  #timerun #timer .slot {
    line-height: normal;
    padding: 5px;
    width: 60px;
    height: 70px;
    font-family: Roboto Webfont;
    font-size: 55px;
    text-align: center;
    color: white;
    border: 0px; }
/* line 135, D:/ProjectRepo/Fun/Yosh Timer/res/css/stylesheet.scss */
#timerun #pause-button {
  background-color: #FD3231;
  border: none; }
  /* line 139, D:/ProjectRepo/Fun/Yosh Timer/res/css/stylesheet.scss */
  #timerun #pause-button:hover {
    background-color: #ff5150; }
  /* line 143, D:/ProjectRepo/Fun/Yosh Timer/res/css/stylesheet.scss */
  #timerun #pause-button:active {
    background-color: #e01f1e; }
/* line 148, D:/ProjectRepo/Fun/Yosh Timer/res/css/stylesheet.scss */
#timerun #resume-button {
  border: none;
  background-color: #FD3231; }
  /* line 153, D:/ProjectRepo/Fun/Yosh Timer/res/css/stylesheet.scss */
  #timerun #resume-button:hover {
    background-color: #ff5150; }
  /* line 157, D:/ProjectRepo/Fun/Yosh Timer/res/css/stylesheet.scss */
  #timerun #resume-button:active {
    background-color: #e01f1e; }
/* line 162, D:/ProjectRepo/Fun/Yosh Timer/res/css/stylesheet.scss */
#timerun #stop-button {
  border: none;
  background-color: #FD3231; }
  /* line 167, D:/ProjectRepo/Fun/Yosh Timer/res/css/stylesheet.scss */
  #timerun #stop-button:hover {
    background-color: #ff5150; }
  /* line 171, D:/ProjectRepo/Fun/Yosh Timer/res/css/stylesheet.scss */
  #timerun #stop-button:active {
    background-color: #e01f1e; }

/* line 178, D:/ProjectRepo/Fun/Yosh Timer/res/css/stylesheet.scss */
#invoked #invoke-message {
  font-family: Open Sans;
  font-size: 25px;
  color: #ffffff;
  margin: 15px; }

/* line 187, D:/ProjectRepo/Fun/Yosh Timer/res/css/stylesheet.scss */
#background {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px; }

/* line 199, D:/ProjectRepo/Fun/Yosh Timer/res/css/stylesheet.scss */
#close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  transition: 0.4s;
  cursor: pointer; }
  /* line 209, D:/ProjectRepo/Fun/Yosh Timer/res/css/stylesheet.scss */
  #close-button:hover {
    transform: rotate(360deg); }

/*# sourceMappingURL=stylesheet.css.map */