input.TimeDisplayBox[type="text"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    text-align: center;
    display: inline-block;
    width: 80px;
    border: none;
    background: transparent;
    padding: 10px;
    font-size: 55px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: white;
}

input.TimeDisplayBox::placeholder {
 color: white;
}
