.App,
.background,
.foreground {
    width: 100%;
    height: 100%;
}

.background,
.foreground {
    position: absolute;
    display: flex;
    flex-direction: row;
}

.background .left {
    height: 100%;
    background: #ffe401;
    flex: 1;
}

.background .right {
    height: 100%;
    background: #de3b3c;
    width: 50px;
}

.foreground input {
    border: none;
    background-color: transparent;
}
